{% extends 'base.html.twig' %}
{% block title %}
        Voitures
{% endblock %}
{% block content %}
        <form action="{{env.base_path  ~ '/cars'}}" method="post">

            <div class="form-group">
                <label class="FormBrand" for="brand">Marque</label>
                <input name="Brand" type="text">
            </div>
            <div  class="form-group">
                <label class="FormModel" for="">Modèle</label>
                <input name="Model" type="text">
            </div>

            <button class="btn btn-success" type="reset" >Envoie</button>
        </form>
        
{% endblock %}