{% extends 'base.html.twig' %}
{% block title %}
Uilisateurs
{% endblock %}
{% block content %}
<form action="{{env.base_path  ~ '/users'}}" method="post">

    <div class="form-group">
        <label class="FormBrand" for="firstname">Firstname</label>
        <input name="Firstname" type="text">
    </div>
    <div class="form-group">
        <label class="FormModel" for="lastname">Lastname</label>
        <input name="Lastname" type="text">
    </div>

    <button class="btn btn-success" type="reset">Envoie</button>
</form>

{% endblock %}