{% extends 'base.html.twig' %}
{% block h1 %}
        Users
{% endblock %}
{% block content %}
    <ul class='list-group text-center col-5 ml-auto mr-auto'>
        {% for user in users %}
            <li class='list-group-item border deep-purple-text'>{{user.firstname}} {{user.lastname}}</li>
        {% endfor %}
    </ul>
{% endblock %}

