{% extends 'base.html.twig' %}

{% block title %}
{{ users.firstname }} {{ users.lastname }}
{% endblock %}

{% block content %}
<div class=" btn btn-success rounded ">
    <a href="{{ env.base_path ~ '/users/' ~ users.id ~ '/edit' }}" class="text-white">Update</a>
</div>
<div class="btn btn-primary rounded">
    <a href="{{ env.base_path ~ '/users/' }}" class="text-white">Home</a>
</div>
{% endblock %}